{
    "extends": [
      "airbnb",
      "airbnb/hooks",
      "plugin:react-hooks/recommended",
      "plugin:prettier/recommended",
      "prettier",
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "jest": true,
      "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
      "jsx-a11y/href-no-hash": ["off"],
      "react/jsx-filename-extension": [
        "warn",
        { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
      ],
      "react/react-in-jsx-scope": 0,
      "react-hooks/rules-of-hooks": 0,
      "react/require-default-props": 0,
      "react-hooks/exhaustive-deps": [
        "warn",
        {
          "additionalHooks": "useRecoilCallback"
        }
      ],
      "unused-imports/no-unused-imports-ts": 0,
      "@typescript-eslint/explicit-module-boundary-types": 0,
      "@typescript-eslint/no-explicit-any": 0,
      "@typescript-eslint/no-unused-vars": 0,
      "max-len": [
        "warn",
        {
          "code": 80,
          "tabWidth": 2,
          "comments": 80,
          "ignoreComments": false,
          "ignoreTrailingComments": true,
          "ignoreUrls": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreRegExpLiterals": true
        }
      ],
      "no-use-before-define": 0,
      "import/no-cycle": 0,
      "import/no-useless-path-segments": 0, // Allows us to import as './' instead of '.'
      "import/prefer-default-export": 0,
      "import/no-extraneous-dependencies": 0,
      "import/extensions": [
        "error",
        "ignorePackages",
        {
          "js": "never",
          "jsx": "never",
          "ts": "never",
          "tsx": "never"
        }
      ],
      "react/jsx-props-no-spreading": "off"
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"],
          "extensions": [".js", ".jsx", ".ts", ".tsx"],
          "moduleDirectory": ["node_modules", "."]
        }
      },
      "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
    },
    "overrides": [
      {
        "files": ["**/*.stories.*"],
        "rules": {
          "import/no-anonymous-default-export": "off"
        }
      }
    ]
  }